<<<<<<< HEAD:src/modules/css/style.css
=======
.App{
    height:100vh;
    background-image: url("../img/logo.jpg");
}
>>>>>>> 1fd35b404ab617912835ffe6d6f787aca7e3b041:public/css/style.css

.icon-services{
    display:flex;
    justify-content: center;
    align-items: center;
    
}

.icon-clinic{
    margin-left: 12em;    
}