
html, body{
    margin:0;
    padding:0;
    height:100%
}

.App{
    height: 500px;
}

.footer{
    position: relative;
    bottom: 0;
    width: 100%; 
    height:195px;
    background-color:#3f51b5;
}


.searchPatient{
   margin-right: 20em;
   margin-left: 10em;
   margin-top:0.5em;
}

.searchPatient input{
    text-align: center;
}

input:focus {
   text-align: left;
   margin:1px;
  }


form{
    margin-top: 5em;
}

.buttonUserComponent{
    padding: 9px 17px;
    margin-top:15px;
    font-family: monospace;
    font-weight: bold;
    line-height: 1;
    color: #444;
    border: none;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.85);
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fff), to(#bbb));
    background-image: -moz-linear-gradient(0% 100% 90deg, #BBBBBB, #FFFFFF);
    background-color: #fff;
    border: 1px solid #f1f1f1;
    border-radius: 10px;
    box-shadow: 0 1px 2px rgba(0, 0, 0,0.5); 
}

#textFields{
   display:flex;
   flex-wrap:wrap;
   align-items: center;
   justify-content: space-evenly;
   flex-direction: row;
   margin-top:5px;
   margin-bottom: 5px;
   margin-right: 3px;
}

p{
    font-family:"Roboto", "Helvetica", "Arial", sans-serif;
}
footer a{
    display:flex;
    align-items: flex-end;
    justify-content:space-around;
    color:white;
    margin-right: 2px;
}


.MuiTableCell-root-292{
    cursor:pointer;
}

.iconsPUT{
    display:flex;
    flex-wrap:wrap;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    font-size:30px;
   
}

.iconsPUT i{
    margin:1em;
    
}


.iconsPOST{
    display:flex;
    flex-wrap:wrap;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    font-size:30px;
}

.iconsPOST i{
    margin:1em
}

.iconsCrud{
    display:flex;
    flex-wrap:wrap;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin-top:10px;
    margin-right: 3px;
    margin-bottom: 5px;
    
 }

 .iconsCrud i{
    margin:2em;
    cursor:pointer;
 } 


 /* .MuiDrawer-paper-245 {
    top:7% !important;
    height:789px !important;
} 

.MuiDrawer-paper-238{
    top:7% !important;
    height:789px !important;
} */

a:link { 
text-decoration:none; 
} 

.fa-accessible-icon, .fa-address-book, .fa-money-bill-alt{
    font-size:24px;
    width: 1em;
    height:1em;
}

.icon-services{
    display:flex;
    justify-content: center;
    align-items: center;
    
}

.icon-clinic{
    margin-left: 12em;    
}


.buttonLogin{
    margin-right: 12em !important;
}