


.MuiDrawer-paper-245 {
    top:7% !important;
    height:80% !important;
}

a:link 
{ 
text-decoration:none; 
} 

.fa-accessible-icon, .fa-address-book, .fa-money-bill-alt{
    font-size:24px;
    width: 1em;
    height:1em;
}

.icon-services{
    display:flex;
    justify-content: center;
    align-items: center;
    
}

.icon-clinic{
    margin-left: 12em;    
}
