
form{
    display:flex;
    flex-wrap:wrap;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top:1em;
 }
 
 .iconsCrud{
    display:flex;
    flex-wrap:wrap;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin: 5em;
 }

 .iconsCrud i{
    margin:2em;
 }


.MuiDrawer-paper-245 {
    top:7% !important;
    height:789px !important;
    
}

a:link { 
  text-decoration:none; 
} 

.fa-accessible-icon, .fa-address-book, .fa-money-bill-alt{
    font-size:24px;
    width: 1em;
    height:1em;
}

.icon-services{
    display:flex;
    justify-content: center;
    align-items: center;
    
}

.icon-clinic{
    margin-left: 12em;    
}
